<h1> Welcome to GitFit, <%= @user.name %> </h1>
<br></br>

<h2> An app that helps you get to your fitness goals efficiently as possible </h2>
<h2> Please go to <%= @user.email %> to confirm your email address 
<br></br>

<h2> Your stats are currently <h2> 

<h3> Gender:  <%= @user.gender %>  </h3>
<h3> Weight:  <%= @user.weight %> kg </h3>
<h3> Height: <%= @user.height %> cm </h3>
<h3> Age:  <%= @user.age %>  </h3>
<h3> BMI: <%= @user.calculate_bmi.round(2) %> kg/m^2 </h3> 
<h3> Result: <%= @user.determine_bmi %> </h3>

<br></br>

<h3> Goal Weight: <%= @user.goal_weight %> kg </h3> 
<h3> Goal BMI: <%= @user.goal_bmi.round(2) %> kg/m^2 </h3>
<h3> Weight Percentage Difference: <%= @user.percentage_difference.round(2) %> % </h3>

<br></br>


<h3> You are currently <%= @user.weight_diff %> kilograms away from your goal </h3>

<br></br>
<br></br>

<h2> Your current workouts: </h2> 
<% @workouts.each do |workout| %>
<li> Workout Name: <%= workout.name %> </li>
<li> Sets: <%= workout.sets %> </li>
<li> Reps: <%= workout.reps %> </li>
<br></br>
<%   end %>

 
<h2> Your current meals: </h2>
<% sum = 0 %>
<% @meals.each do |meal| %>
    <li> Meal Name: <%= meal.name %> </li>
    <li> Calories: <%= meal.calories %> </li>
    <li> Servings: <%= meal.serving %> </li>
    <li> Ingredients: <%= meal.ingredients %> </li>
    <li> Total calories: <%= product = meal.calories * meal.serving %> </li>
    <% sum += product %>
    <% product %>
    <br></br>

<%end %>

<h3> You have consumed <%= sum %> calories for the day. </h3>
<h3> Meals sorted by calorie count: <%= @user.map_meals %>





<h3> <%= link_to "What do you want to workout today?", muscle_groups_path %> </h3>
<h3> <%= link_to "What diet do you want to follow?", diets_path %> </h3>

<%= link_to "Questionairre", new_quiz_path %> 
<br></br>
<%= link_to "Edit your details", edit_user_path(@user) %>
<br></br>
<%= link_to "Log out", logout_path %>