<!DOCTYPE html>
<html>
  <head>
    <title>GitFit</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link rel="stylesheet" href = "https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.css">

    <style>

      h1 {
      text-align: center;
      font-size: 40px
      
      }   

      h2 {
        text-align: center;
        font-size: 25px
      }   

      h3 {
        text-align: center;
      }

      form {
        text-align: center
      }   

      .submit {
        background-color: #4CAF50; /* Green */
        border: none;
        color: white;
        padding: 10px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 20px;

        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
      }

      p {
        text-align: center;
        text-shadow: brown;
        font-style: oblique;
        font-family: sans-serif;
      }

      li {
        text-align: center
      }



    
    </style>
  </head>

  <body>
  <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>"><%= value %></div>
  <% end %>

    <%= yield %>
  </body>
</html>
